body{

}

main {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5,300px) ;
    margin: auto;
    width: 90%;

}

div{
    background-color: rgb(79, 176, 255);
    color: white;

    border-radius: 10px;
    text-align: center;
}

.a{
    margin-top: 30px;
    grid-column: 1/4;
}

.b{
}

.c{
}

.d{
    grid-column: 3/4;
    grid-row: 2/4;
}

.e {
   grid-column: 1/3;
}

.f {
}

.g {
    grid-column: 2/4;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}