body{background-color: white;
text-align: center;
align-content: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.cajaflotante {
    margin: 20px;
    background-color: rgb(236, 236, 236);
    border-style: solid;
    border-color: #ebebeb;
    border-radius: 10px;
    font-size: px;
   
}

.cajaflotante1 {
    margin: 20px;
    background-color: rgb(35, 105, 255);
    border-style: solid;
    border-color: #ebebeb;
    border-radius: 10px;
    border-top: solid 0px;
    padding: 1px;
    color: white;
}



#bebe{
    border: solid #64bcff;
    border-radius: 10px;
    margin-top: 15px; margin-right: 5px; margin-bottom: 10px; margin-left: 5px;
}

#tay1{
    border: double rgb(35, 105, 255);
    border-radius: 10px;
    margin-top: 15px; margin-right: 5px; margin-bottom: 10px; margin-left: 5px;
}

#tay2{
    border: solid #64bcff;
    border-radius: 10px;
    margin-top: 15px; margin-right: 5px; margin-bottom: 10px; margin-left: 5px;
}
/* From uiverse.io by @ke1221 */
button {
    padding: 10px;
    background-color: #64bcff;
    color: white;
    border: 0px;
    border-radius: 8px;
    font-size: 15px;
}


