main{
    display: grid;
    margin: auto;
    max-width: 1000px;
    min-height: 90vh;
    grid-template-columns:100px;
    grid-template-rows: 100px 50px 100px 100px 120px;
    grid-template-areas: 
    "my-header my-header my-header"
        "my-nav my-section my-aside"
        "my-footer my-footer my-footer";
}

header{
    grid-area: my-header;
    background-color: darkgoldenrod;
}

nav{
    grid-area: my-nav;
    background-color: blue;
}

aside{
    grid-area: my-aside;
    background-color: blueviolet;
}

section{
    grid-area: my-section;
    background-color: chartreuse;
}

footer{
    grid-area: my-footer;
    background-color: crimson;
}

/* Query para tablet*/

@media (min-width: 600px) and (max-width: 1000px) {
    main {
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: 150px
        100px
        1fr
        100px;
      grid-template-areas: 
        "my-header my-header my-header"
        "my-nav my-nav my-nav"
        "my-aside my-section my-section"
        "my-footer my-footer my-footer"
    }
  }
  /* Query para desktop*/
  @media (min-width: 1001px) {
    main {
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: 200px
        1fr
        100px;
      grid-template-areas:
      "my-header my-header my-header"
      "my-nav my-nav my-nav"
      "my-aside my-aside my-aside"
      "my-section my-section my-section"
      "my-footer my-footer my-footer";

    }
  }
